<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3"> <%= t('hello')%> </h1>
    <p class="lead"> <%= t('Explanation')%>  </p>
    <% if user_signed_in? %>
      <a href="/users" class="btn btn-primary btn-lg"><%= t('Segmentation')%>!</a>
    <% else %>
      <p class="lead"> <%= t('Explanation2')%>  </p>
    <% end %>
  </header>
</div>
